
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
  margin: 0px;
  height: 100%;
  width: 100%;
}

.box.columns {
  width: 100%;
  margin: auto;
  padding: 1.25rem 0;
}

.container {
  padding-top: 20px;
}

.item-box {
  background-size: cover;
}

.item-title > p {
  bottom: 0;
  position: absolute;
  left: 0;
  right: 20%;
  font-size: .9em;
  padding: 3px;
  background: rgba(0,0,0,0.7);
}

.item-title > p > strong {
  color: #ccc;
}

.vote-column {
  color: #ccc;
  text-align: center;
}

.vote-column > a {
  margin: 0 !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.bounce {
  display: inline-block;
  position: relative;
  -moz-animation: bounce 0.2s infinite linear;
  -o-animation: bounce 0.2s infinite linear;
  -webkit-animation: bounce 0.2s infinite linear;
  animation: bounce 0.2s infinite linear;
}
@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    70% { top: -0.3em; }
    100% { top: 0; }
}
