<html>
<head>
  <title>Example Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <script src="js/client.js" charset="utf-8"></script>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="columns is-desktop">
        <div class="column">
          <h1 class="title">Vote Your Music</h1>
        </div>
        <div class="column">
          <div class="field has-addons">
            <div class="control" style="width:100%;">
              <input class="input" type="text" id="search_query" placeholder="" autocorrect="off">
            </div>
            <div class="control">
              <a class="button is-info" id="search">
                Suche
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="search-modal" class="modal">
        <div class="modal-background" onClick="close_search_modal()"></div>
        <div class="modal-content">
          <div id="search_result"></div>
        </div>
        <button class="modal-close is-large" aria-label="close"  onClick="close_search_modal()"></button>
      </div>
      <div id="playlist"><div>
    </div>
  </section>
</body>
</html>
