{% extends "layout.html" %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#search").click(function(){
      search();
    });
    $("#search_query").keypress(function (e) {
      if (e.which == 13) {
        search();
        return false;
      }
    });
  });

  function search() {
    $.post("/search", {
      query: $("#search_query").val()
    },
    function(data, status){
      document.getElementById("search_result").innerHTML = "";
      console.log(JSON.parse(data));
      document.getElementById("search-modal").className = "modal is-active";

      document.getElementById("search_result").appendChild(show_result(JSON.parse(data)));
    });
  }

  function show_result(data) {
    var ret_html = document.createElement("div");

    var new_column = document.createElement("div");

    for (let i = 0; i < data.length; i++) {
      ret_html.appendChild(get_box(data[i]));
    }

    return ret_html;
  }

  function close_search_modal() {
    document.getElementById("search-modal").className = "modal";
  }

  function get_box(vid) {
    // calculate duration
    var sec_num = parseInt(vid['duration'], 10); // don't forget the second param
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);

    if (seconds < 10) {seconds = "0"+seconds;}

    if (hours > 0) {
      var duration = hours+':'+minutes+':'+seconds;
      if (minutes < 10) {minutes = "0"+minutes;}
    } else {
      var duration = minutes+':'+seconds;
    }

    var div_box = document.createElement("div");
    div_box.className = "box columns";
    div_box.setAttribute("style", "margin: 10px;");
    // TODO path_for cant be used here so the link to vote is a thing to improve
    div_box.innerHTML = '<div class="column"> \
        <figure class="image is-5by4"> \
          <img src="' + vid['img'] + '" alt="Image"> \
        </figure> \
      </div> \
      <div class="column is-half"> \
        <p class="is-large"> \
          <strong>' + vid['title'] + '</strong> \
        </p> \
      </div> \
      <div class="column"> \
        <p>' + duration + '</p> \
      </div> \
      <div class="column is-one-fifth"> \
        <nav class="level is-mobile"> \
          <div class="level-left"> \
            <a class="level-item"> \
              <span class="is-large" id="votes_' + vid['video_id'] + '">' + vid['votes'] + '</span> \
            </a> \
            <a class="level-item" onClick="vote(\'' + vid['video_id'] + '\')" aria-label="reply"> \
              <span class="icon is-medium"> \
                <i class="fas fa-arrow-alt-circle-up fa-2x" aria-hidden="true"></i> \
              </span> \
            </a> \
          </div> \
        </nav> \
      </div>';
    return div_box;
  }

  function vote(video_id) {
    $.post("/vote", {
      video_id: video_id
    },
    function(data, status){
      // update vote number
      document.getElementById("votes_" + video_id).innerHTML = data;
    });
  }

  function vote(video_id) {
    $.post("/vote", {
      video_id: video_id
    },
    function(data, status){
      // update vote number
      document.getElementById("votes_" + video_id).innerHTML = data;
      console.log(data);
    });
  }
</script>
{% endblock %}

{% block content %}
<div class="columns is-desktop">
  <div class="column">
    <h1 class="title">Playlist</h1>
  </div>
  <div class="column">
    <div class="field has-addons">
      <div class="control" style="width:100%;">
        <input class="input" type="text" id="search_query" placeholder="">
      </div>
      <div class="control">
        <a class="button is-info" id="search">
          Suche
        </a>
      </div>
    </div>
  </div>
</div>

<div id="search-modal" class="modal">
  <div class="modal-background" onClick="close_search_modal()"></div>
  <div class="modal-content">
    <div id="search_result"></div>
  </div>
  <button class="modal-close is-large" aria-label="close"  onClick="close_search_modal()"></button>
</div>

{% for video in playlist %}
<div class="box columns" style="margin: 10px;">
  <div class="column">
    <figure class="image is-5by4">
      <img src="{{ video.img }}" alt="Image">
    </figure>
  </div>
  <div class="column is-half">
    <p class="is-large">
      <strong>{{ video.title }}</strong>
    </p>
  </div>
  <div class="column is-one-fifth">
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="is-large" id="votes_{{ video.video_id }}">{{ video.votes }}</span>
        </a>
        <a class="level-item" onClick="vote('{{ video.video_id }}')" aria-label="reply">
          <span class="icon is-medium">
            <i class="fas fa-arrow-alt-circle-up fa-2x" aria-hidden="true"></i>
          </span>
        </a>
      </div>
    </nav>
  </div>
</div>
{% endfor %}


{% endblock %}
