{% extends "layout.html" %}

{% block script %}
<script>
function vote(video_id) {
  $.post("/vote", {
    video_id: video_id
  },
  function(data, status){
    // update vote number
    document.getElementById("votes_" + video_id).innerHTML = data;
    console.log(data);
  });
}
</script>
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column">
    <h1 class="title">Playlist</h1>
  </div>
  <div class="column">
    <a href="search">Suche</a>
  </div>
</div>

{% for video in playlist %}
<div class="box columns">
  <div class="column">
    <figure class="image is-5by4">
      <img src="{{ video.img }}" alt="Image">
    </figure>
  </div>
  <div class="column is-half">
    <p class="is-large">
      <strong>{{ video.title }}</strong>
    </p>
  </div>
  <div class="column is-one-fifth">
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="is-large" id="votes_{{ video.video_id }}">{{ video.votes }}</span>
        </a>
        <a class="level-item" onClick="vote('{{ video.video_id }}')" aria-label="reply">
          <span class="icon is-medium">
            <i class="fas fa-arrow-alt-circle-up fa-2x" aria-hidden="true"></i>
          </span>
        </a>
      </div>
    </nav>
  </div>
</div>
{% endfor %}


{% endblock %}
