{% extends "layout.html" %}

{% block script %}
<script>
  $(document).ready(function(){
    get_playlist();
    $("#search").click(function(){
      search();
    });
    $("#search_query").keypress(function (e) {
      if (e.which == 13) {
        search();
        return false;
      }
    });
  });

  var source = new EventSource("/playcontrol");
  source.onmessage = function(event) {
    if (event.data == "voted") {
      update_all_votes();
    }
    if (event.data == "next") {
      update_playlist();
    }
  };

  function get_playlist() {
    $.get("/playlist", function(data) {
      document.getElementById("playlist").innerHTML = construct_playlist(JSON.parse(data));
      update_user_votes();
    });
  }

  function update_playlist() {
    $.get("/playlist", function(data) {
      document.getElementById("playlist").innerHTML = construct_playlist(JSON.parse(data));
    });
  }

  function construct_playlist(data) {
    var html = "";
    data.forEach(function(video) {
      if (video['playing']) {
        html += '<div class="box columns" style="margin: 10px; box-shadow: 0 5px 10px rgba(10,10,10,.1), 0 0 0 2px rgba(26, 204, 14, 0.77);">';
      } else {
        html += '<div class="box columns" style="margin: 10px;">';
      }
      html += '<div class="column">';
      html += ' <figure class="image is-4by3">';
      html +=    '<img src="' + video['img'] + '" alt="Image">';
      html +=  '</figure>';
      html += '</div>';
      html += '<div class="column is-half">';
      html +=  '<p class="is-large">';
      html +=    '<strong>' + video['title'] + '</strong>';
      html +=  '</p>';
      html += '</div>';
      html += '<div class="column is-one-fifth">';
      html +=  '<nav class="level is-mobile">';
      html +=    '<div class="level-left">';
      html +=      '<a class="level-item" onClick="vote(\'' + video['video_id'] + '\', \'+\')">';
      html +=        '<span class="icon is-medium has-text-grey-lighter" id="' + video['video_id'] + '_up">';
      html +=          '<i class="fas fa-arrow-alt-circle-up fa-2x" aria-hidden="true"></i>';
      html +=        '</span>';
      html +=      '</a>';
      html +=      '<a class="level-item">';
      html +=        '<span class="is-size-3" id="votes_' + video['video_id'] + '">' + video['votes'] + '</span>';
      html +=      '</a>';
      html +=      '<a class="level-item" onClick="vote(\'' + video['video_id'] + '\', \'-\')">';
      html +=        '<span class="icon is-medium has-text-grey-lighter" id="' + video['video_id'] + '_down">';
      html +=          '<i class="fas fa-arrow-alt-circle-down fa-2x" aria-hidden="true"></i>';
      html +=        '</span>';
      html +=      '</a>';
      html +=    '</div>';
      html +=  '</nav>';
      html += '</div>';
      html += '</div>';
      if (video['playing'] && data.length > 1) {
        html += '<div class="column"><h3>Next:</h3></div>';
      }
    });
    return html;
  }

  function update_all_votes() {
    // set votes
    $.get("/get_all_votes", function(data) {
      set_all_votes(JSON.parse(data));
    });
  }

  function set_all_votes(votes) {
    if (votes.length > 0) {
      votes.forEach(function (vote) {
        document.getElementById("votes_" + vote['video_id']).innerHTML = vote['votes'];
      });
    }
  }

  function update_user_votes() {
    $.get("/get_user_votes", function(data) {
      set_user_votes(JSON.parse(data));
    });
  }

  function set_user_votes(user_votes) {
    if (user_votes.length > 0) {
      user_votes.forEach(function (user_vote) {
        if (user_vote['direction'] == "+") {
          document.getElementById(user_vote['video_id'] + "_up").className = "icon is-medium has-text-success";
        } else {
          document.getElementById(user_vote['video_id'] + "_down").className = "icon is-medium has-text-danger";
        }
      });
    }
  }

  function search() {
    $.post("/search", {
      query: $("#search_query").val()
    },
    function(data, status){
      document.getElementById("search_result").innerHTML = "";
      document.getElementById("search-modal").className = "modal is-active";

      document.getElementById("search_result").appendChild(show_result(JSON.parse(data)));
    });
  }

  function show_result(data) {
    var ret_html = document.createElement("div");

    var new_column = document.createElement("div");

    for (let i = 0; i < data.length; i++) {
      ret_html.appendChild(get_box(data[i]));
    }

    return ret_html;
  }

  function close_search_modal() {
    document.getElementById("search-modal").className = "modal";
  }

  function get_box(vid) {
    // calculate duration
    var sec_num = parseInt(vid['duration'], 10); // don't forget the second param
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);

    if (seconds < 10) {seconds = "0"+seconds;}

    if (hours > 0) {
      var duration = hours+':'+minutes+':'+seconds;
      if (minutes < 10) {minutes = "0"+minutes;}
    } else {
      var duration = minutes+':'+seconds;
    }

    var div_box = document.createElement("div");
    div_box.className = "box columns";
    div_box.setAttribute("style", "margin: 10px;");
    // TODO path_for cant be used here so the link to vote is a thing to improve
    div_box.innerHTML = '<div class="column"> \
        <figure class="image is-4by3"> \
          <img src="' + vid['img'] + '" alt="Image"> \
        </figure> \
      </div> \
      <div class="column is-half"> \
        <p class="is-large"> \
          <strong>' + vid['title'] + '</strong> \
        </p> \
      </div> \
      <div class="column"> \
        <p>' + duration + '</p> \
      </div> \
      <div class="column is-one-fifth"> \
        <nav class="level is-mobile"> \
          <div class="level-left"> \
            <a class="level-item" onClick="add(\'' + vid['video_id'] + '\')" aria-label="reply"> \
              <span class="icon is-medium" id="' + vid['video_id'] + '_add"> \
                <i class="fas fa-plus-circle fa-2x" aria-hidden="true"></i> \
              </span> \
            </a> \
          </div> \
        </nav> \
      </div>';
    return div_box;
  }

  function add(video_id) {
    document.getElementById(video_id + "_add").className = "icon is-medium has-text-success";
    vote(video_id, '+');
  }

  function vote(video_id, direction) {
    $.post("/vote", {
      video_id: video_id,
      direction: direction
    },
    function(data, status){
      // update vote number
      if (data == "") {
        data = 0;
      }
      document.getElementById("votes_" + video_id).innerHTML = data;
      if (direction == "+") {
        document.getElementById(video_id + "_up").className = "icon is-medium has-text-success";
        document.getElementById(video_id + "_down").className = "icon is-medium has-text-grey-lighter";
      } else {
        document.getElementById(video_id + "_up").className = "icon is-medium has-text-grey-lighter";
        document.getElementById(video_id + "_down").className = "icon is-medium has-text-danger";
      }
    });
  }
</script>
{% endblock %}

{% block content %}
<div class="columns is-desktop">
  <div class="column">
    <h1 class="title">Vote Your Music</h1>
  </div>
  <div class="column">
    <div class="field has-addons">
      <div class="control" style="width:100%;">
        <input class="input" type="text" id="search_query" placeholder="">
      </div>
      <div class="control">
        <a class="button is-info" id="search">
          Suche
        </a>
      </div>
    </div>
  </div>
</div>

<div id="search-modal" class="modal">
  <div class="modal-background" onClick="close_search_modal()"></div>
  <div class="modal-content">
    <div id="search_result"></div>
  </div>
  <button class="modal-close is-large" aria-label="close"  onClick="close_search_modal()"></button>
</div>

<div id="playlist"><div>

{% for video in playlist %}
  {% if video.playing %}
    <div class="box columns" style="margin: 10px; box-shadow: 0 5px 10px rgba(10,10,10,.1), 0 0 0 2px rgba(26, 204, 14, 0.77);">
  {% else %}
    <div class="box columns" style="margin: 10px;">
  {% endif %}
    <div class="column">
      <figure class="image is-4by3">
        <img src="{{ video.img }}" alt="Image">
      </figure>
    </div>
    <div class="column is-half">
      <p class="is-large">
        <strong>{{ video.title }}</strong>
      </p>
    </div>
    <div class="column is-one-fifth">
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" onClick="vote('{{ video.video_id }}', '+')">
            <span class="icon is-medium has-text-grey-lighter" id="{{ video.video_id }}_up">
              <i class="fas fa-arrow-alt-circle-up fa-2x" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item">
            <span class="is-size-3" id="votes_{{ video.video_id }}">{{ video.votes }}</span>
          </a>
          <a class="level-item" onClick="vote('{{ video.video_id }}', '-')">
            <span class="icon is-medium has-text-grey-lighter" id="{{ video.video_id }}_down">
              <i class="fas fa-arrow-alt-circle-down fa-2x" aria-hidden="true"></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </div>
  {% if video.playing and playlist|length > 1 %}
    <div class="column"><h3>Next:</h3></div>
  {% endif %}
{% endfor %}


{% endblock %}
